
<div class="container-fluid color" id="img-bg">

    <div class="row d-flex align-items-center">
        <div class="col-md-12" >
            
            <div class="row d-flex justify-content-center">
                <div class="card col-md-3 mt-5">
                    <h1 class="text-center mb-3 mt-5">Cadastrar</h1>

                    <!--campo usuário-->
                    <div class="form-group">
                        <label for="nome">Nome</label>
                        <input class="form-control" type="text" name="nome" id="nome" placeholder="Seu Nome completo">
                    </div>

                    <!--campo email-->
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" type="text" name="email" id="email" placeholder="Seu email">
                    </div>

                    <!--campo senha-->
                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input class="form-control" type="password" name="senha" id="senha" placeholder="Crie sua senha">
                    </div>

                    <!--campo tipo usuario-->
                     <div class="form-group">
                        <label for="senha">Tipo de Usúario</label>
                       <select class="form-control" name="tipo" id="tipo">
                          <option value="normal">Normal</option>
                          <option value="adm">Administrador</option>
                       </select>
                    </div>



                    <!--campo de cancelar e enviar-->
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-danger mr-4">Cancelar</button>
                        <button type="submit" class="btn btn-success">Cadastrar</button>
                    </div>

                </div>

            </div>
            
        </div> <!--fim do div do bg-->
        
    </div>

</div>
